@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

video, canvas {
  display: block;
  width: 300px;
  height: 200px;
}

.controls {
  margin-top: 10px;
}

#errors {
  margin-top: 10px;
}
#errors p {
  margin: 0;
}